<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290186233241-maompf4jlqdm8d5kh0lqr2kghsh32jld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290186233241-maompf4jlqdm8d5kh0lqr2kghsh32jld</string>
	<key>API_KEY</key>
	<string>AIzaSyAuC-VuWavpe0SlHQa2lE8TCddn1K_zKW4</string>
	<key>GCM_SENDER_ID</key>
	<string>290186233241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taco-ent.kerjain</string>
	<key>PROJECT_ID</key>
	<string>kerjain-ef127</string>
	<key>STORAGE_BUCKET</key>
	<string>kerjain-ef127.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290186233241:ios:9ea06a09a00dd95bda3f08</string>
</dict>
</plist>